.data-berita-kegiatan .info .nav .nav-item .nav-link {
    padding: .1rem 1.2rem;
    line-height: 10px;
    color: #343a40!important;
}

.data-berita-kegiatan .info .nav .nav-item{
	border-right: 1px #333 solid;
}

.data-berita-kegiatan .info .nav .nav-item:last-child{
    border-right:0;
}

.data-berita-kegiatan-pagination .pagination{
	justify-content: center!important;
}
