body{
    background-image: url('../assets/BG1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app-container{
  /*  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;*/
}

.app-content .nav-fill .nav-item{
    margin: 10px;
    border:1px solid;
    border-radius:20px;
    background: transparent;
    border-color: #FFF;
}

.app-content .nav-fill .nav-item a{
    color:#FFF;
}

.app-content .nav-fill .nav-item .active{
    border-radius:20px;
    border-color: #27AE60;
    background: #FFF;
    color: #2980B9;
}

.app-content .nav-fill .nav-item:hover{
    background: #FFF;
    border-color: #FFF;
    transition: ease-in 0.1s;
}

.app-content .nav-fill .nav-item:hover a{
    color: #2980B9;
    transition: ease-in 0.1s;
}


.app-content .icon{
    text-align:center;
}

.app-content .icon .col-md-3:nth-child(odd){
    bottom: 5em;
}

.app-content .icon .col-md-3:nth-child(even){
    top: 5em;
}

.app-content .icon a.icon-item img{
    /*margin:0 auto;
    font-size: 3em;*/
    width: 170px;
    height: 170px;
    /*border-color: #FFF;
    text-align: center;
    padding:50px;
    color: #FFF;*/
}

.app-content .icon a.icon-item:hover{
    opacity: 0.5;
}



/* Responsive */
/* Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .app-content .icon{
        padding: 40px 0px 30px 0px;
    }

    .app-content .menu{
        padding-top: 3rem;
    }

    .app-content {
        padding-top: 20px;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}