.section-nav ul.nav{
	margin-top: 2em;
	background: #27AE60;
}

.section-nav ul.nav li a{
	color: #FFF;
}

.section-nav ul.nav li:hover{
	background: #2ECC71;
}

.section-logo{
	margin-top: 5.5em;
}

.section-login-form{
	margin-top: 5.5em;
}

.section-login-form .description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
    position: relative;
}